.foodImg{
    height: 500px;
}
.h1ForFoods {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #7BF70E;
    text-transform: uppercase;
}