.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; 
    padding: 20px;
    color: #fff; 
    background-color: transparent;
    backdrop-filter: blur(5px);
   }
  
  
  .navbar-brand {
    font-weight: bold;
    margin-right: 84px;
    margin-left: 130px;
  }
  
  .navbar-nav .nav-item {
    margin-right: 10px;
  }
  
  .navbar-nav .nav-link {
    color: #000;
    font-weight: bold;
  }
  .logo {
    width: 30px; 
    height: auto; 
  }
  
  
 